
<div class="row mt-4">
  <div  class="col-sm-6">
    <h1>BucketWS demo</h1>
  </div>
  <div class="col-sm-6">
    <dl class="row">
      <dt class="col-sm-3">Domain</dt>
      <dd id="domain-container" class="col-sm-9"><%= domain %></dd>
      <dt class="col-sm-3">Public bucket</dt>
      <dd id="public-bucket-container" class="col-sm-9"><%= bucketPublic %></dd>
    </dl>
  </div>
</div>
