<div class="nav flex-column nav-pills">
  <a class="nav-link <% if (page === 'home') { %> active <% } %>" href="/"
    >Home</a
  >
  <a
    class="nav-link <% if (page === 'upload/public') { %> active <% } %>"
    href="/upload/public"
    >Upload to <b>public</b></a
  >
  <a
    class="nav-link <% if (page === 'list/public') { %> active <% } %>"
    href="/list/public"
    >List <b>public</b> files</a
  >
</div>
