<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="container">

      <div class="row mt-4">
        <div  class="col-sm-6">
          <h1>BucketWS demo</h1>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
      <div class="row">
        <div class="col">
          Initial!
        </div>
      </div>
    </div>
  </body>
</html>
